.userDetail{
    width: 100%;

    h3 {
        margin: 20px 0;
    }

    &-content {
        display: flex;
        flex-direction: column;
        gap: 20px;

        &-item {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            &-left {
              flex: 2;
      
              label {
                font-weight: var(--fw-500);
              }
            }
      
            &-right {
              flex: 4;
              text-align: justify;
              img {
                width: 200px;
                height: 200px;
                object-fit: cover;
                border-radius: var(--bor-10);
                margin-right: 10px;
              }
      
              h4[data-product-title] {
                font-size: var(--fz-20);
              }
      
            }
          }
      
          &-button {
            display: flex;
            justify-content: center;
          }
        }
    }
