@use "../../../styles/GeneralStyle/GeneralStyle.scss" as general;
nav {
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;

  height: 100px;
  transition: var(--transition);

  // NAVBAR ONSCROLL
  &.activeNavbar {
    background: rgba($color: #fff, $alpha: 0.8);
    height: 80px;
    .nav-wrapper {
      .nav-menu-icon {
        color: var(--color-dark);
      }
      .nav-left {
        .navigation {
          a {
            color: #000000;
          }
        }
      }

      .nav-center {
        h1 {
          color: var(--color-dark);
        }
      }

      .nav-right {
        a {
          color: var(--color-dark);
        }
      }
    }
  }

  // NAVBAR WHEN NOT ONSCROLL
  .nav-wrapper {
    width: 100%;
    height: 100%;
    padding: 20px;

    @include general.flex-aic;
    justify-content: space-between;

    .nav-menu-icon {
      font-size: var(--fz-20);
      color: var(--color-light);

      display: none;
    }
    .nav-left,
    .nav-center,
    .nav-right {
      flex: 1;

      @include general.flex-center;
    }
    /*-------- NAV LEFT ---------*/
    .nav-left {
      .navigation {
        .navi-close-menu {
          display: none;
        }
        a {
          padding: 10px;
          color: var(--color-light);
          font-weight: var(--fw-700);

          &:hover {
            background: var(--color-dark-trans);
            border-radius: var(--bor-10);
          }
        }

        &.fontDark {
          a {
            color: var(--color-dark);
          }
        }
      }
    }
    /*-------- END OF NAV LEFT ---------*/

    /*-------- NAV CENTER ---------*/
    .nav-center {
      h1 {
        text-align: center;
        color: var(--color-light);
        font-weight: var(--fw-900);

        &.fontDark {
          color: var(--color-dark);
        }
      }
    }
    /*--------END OF NAV CENTER ---------*/

    /*-------- NAV RIGHT ---------*/
    .nav-right {
      a {
        padding: 20px;

        @include general.flex-aic;
        color: var(--color-light);
        font-weight: var(--fw-700);
        &:hover {
          background: var(--color-dark-trans);
          border-radius: var(--bor-10);
        }
        & > * {
          margin-right: 5px;
        }
      }
      .nav-user {
        width: 30px;
        height: 30px;
        border-radius: var(--bor-50);
        object-fit: cover;
        cursor: pointer;
      }
      .nav-cart {
        position: relative;
        span {
          position: absolute;
          top: 0;
          right: 0;

          background: red;
          width: 20px;
          height: 20px;
          border-radius: var(--bor-50);

          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      &.fontDark {
        a {
          color: var(--color-dark);
        }
      }
    }
    /*--------END OF NAV RIGHT ---------*/
  }
  /*======================================*/
  /*------------- RESPONSIVE ------------*/
  /*======================================*/

  // -------- TABLET ---------
  @include general.tablet {
    .nav-wrapper {
      //--------- NAV MENU ICON ----------
      .nav-menu-icon {
        display: block;
        flex: 1;
        text-align: center;
        cursor: pointer;
      }
      //-------- NAV LEFT ----------
      .nav-left {
        display: none;

        &.activeNavLeft {
          display: block;

          width: 100%;
          height: 100vh;

          position: fixed;
          top: 0;
          left: 0;
          z-index: 9999999;
          overflow-y: auto;

          background: rgba($color: #000000, $alpha: 0.6);

          @include general.flex-center;

          .navigation {
            background: var(--color-light);
            width: 60%;
            padding: 20px;

            @include general.flex-center;
            flex-direction: column;

            border-radius: var(--bor-10);
            cursor: pointer;

            @include general.mobile {
              width: 80%;
            }
            .navi-close-menu {
              display: block;

              font-size: var(--fz-20);
              border-bottom: 1px solid var(--color-gray);

              width: 100%;
              padding: 10px;
              margin-bottom: 20px;
              & > * {
                float: right;
              }
            }
            a {
              color: var(--color-dark);
            }
          }
        }
      }

      .nav-center {
        flex: 2;

        h1 > br {
          display: none;
        }
      }

      .nav-right {
        flex: 2;
      }
    }
  }

  // -------- MOBILE ---------
  @include general.mobile {
    .nav-wrapper {
      // ------ NAV MENU ICON -------
      .nav-menu-icon {
        flex: 1;
      }
      //-------NAV CENTER ---------
      .nav-center {
        flex: 5;
      }
      //-------- NAV RIGHT ----------
      .nav-right {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
