@use "../../styles/GeneralStyle/GeneralStyle.scss" as general;
.about {
  padding-top: 150px;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;

  background: var(--color-beige);

  &-title {
    width: 80%;
    margin: 0 auto;
  }

  &-image {
    width: 100%;
    height: 500px;
    background: url("../../assets/images/about-heading.jpg") no-repeat center
      center;
    background-size: cover;
    margin-bottom: 40px;

    @include general.tablet {
      height: 300px;
    }
  }

  &-content {
    width: 80%;
    margin: 0 auto;

    &-item {
      display: flex;
      gap: 40px;
      margin-bottom: 40px;
      @include general.tablet {
        gap: 20px;
      }

      @include general.mobile {
        flex-direction: column;
      }
      &-left,
      &-right {
        flex: 1;
      }

      img[data-about-image] {
        width: 100%;
        height: 420px;
        object-fit: cover;
        border-radius: var(--bor-5);
      }

      h3[data-about-title] {
        font-size: var(--fz-30);

        width: 50%;
        margin: 0 auto 40px auto;
        @include general.tablet {
          width: 100%;
        }
      }

      p[data-about-desc] {
        width: 50%;
        text-align: justify;
        margin: 0 auto 40px auto;
        line-height: 1.7;
        letter-spacing: 1.2;
        @include general.tablet {
          width: 100%;
        }
      }
    }
  }
}
