.sublayout {
  background: url("../../assets/images/heading-dark.jpg") no-repeat center
    center;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 1;
  position: relative;

  .overlay {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 2;
    position: fixed;
  }
}
