nav {
  width: 100%;
  height: 100px;

  display: flex;
  align-items: center;
  justify-content: center;
  .nav-wrapper {
    width: 80%;
    height: 80px;
    padding: 20px;

    border: 2px solid var(--color-green);
    border-radius: var(--bor-10);

    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav-theme {
      display: flex;
      flex-direction: column;

      &-title {
        margin-bottom: 10px;
      }

      &-color {
        display: flex;
        align-items: center;

        @mixin colorCircle($color) {
          width: 20px;
          height: 20px;
          margin-right: 5px;

          border-radius: var(--bor-50);
          border: 2px solid var(--color-dark);

          background: $color;

          cursor: pointer;
        }

        div:nth-child(1) {
          @include colorCircle(var(--color-pink));
        }

        div:nth-child(2) {
          @include colorCircle(var(--color-light));
        }

        div:nth-child(3) {
          @include colorCircle(var(--color-dark));
        }

        div:nth-child(4) {
          @include colorCircle(var(--color-blue));
        }
      }
    }
  }
}

// --------- DARK THEME ------------
nav[data-theme="dark"] {
  .nav-wrapper {
    border: 2px solid var(--color-light);
    background: var(--color-light);
    color: var(--color-dark);

    a {
      color: var(--color-dark);

      &:hover {
        color: var(--color-gray);
      }
    }
  }
}

// ------------ BLUE THEME ------------
nav[data-theme="blue"] {
  .nav-wrapper {
    border: 2px solid var(--color-blue);
  }
}
// ------------ PINK THEME ------------

nav[data-theme="pink"] {
  .nav-wrapper {
    border: 2px solid var(--color-pink);
  }
}
