@use '../../styles/GeneralStyle/GeneralStyle.scss' as general;
.register {
  padding-top: 200px;
  padding-bottom: 20px;
 
  width: 100%;
  position: absolute;
  z-index: 5;

  &-wrapper {
    width: 60%;
    padding: 40px;
    margin: 0 auto 20px auto;
   
    background: rgba($color: #343a43, $alpha: 0.8);

    display: flex;
    flex-direction: column;

    border-radius: var(--bor-10);

    input {
      width: 50%;
      margin: 10px auto;
      padding: 15px;

      background: transparent;
      border: 2px solid var(--color-light);
      border-radius: var(--bor-10);

      color: var(--color-light);
      &:focus {
        outline: 2px solid var(--color-light);
      }
      &::placeholder {
        color: var(--color-light);
      }
    }

    button {
      display: block;
      margin: 20px auto;
      padding: 10px 20px;

      border: 2px solid var(--color-light);
      border-radius: var(--bor-10);
      color: var(--color-light);
      font-weight: var(--fw-900);

      &:hover {
        background: var(--color-light);
        color: var(--color-dark);
      }

    }

    p {
      text-align: center;
      color: var(--color-light);

      a{
        color: rgb(202, 202, 99);

        &:hover {
          color: yellow;
        }
      }
    }
  }

  //-------- RSSPONSIVE --------
  @include general.tablet {
    &-wrapper {
      width: 80%;

      input{
        width: 80%;
      }

      button{
        width: 50%;
      }
    }
  }

  @include general.mobile {
    &-wrapper {
      width: 90%;
      padding: 40px 20px;

      input {
        width: 100%;
      }

      button{
        width: 70%;
      }
    }
  }
}
