@use '../../../../../styles/GeneralStyle/GeneralStyle.scss' as general;

.filterProduct{
    width: 80%;
    padding: 20px;
    margin: 20px auto;
    border: 2px solid var(--color-dark);

    &-title {
        text-align: center;
        font-size: var(--fz-20);
        font-weight: var(--fw-700);
        margin-bottom: 20px;
    }

    &-content {
        width: 80%;
        margin: 0 auto;

        .filter-name {
            display: flex;
            flex-direction: column;

            label {
                margin-bottom: 10px;
                font-weight: var(--fw-700);
            }

            input {
                padding: 10px;
                border: 2px solid var(--color-dark);
                border-radius: var(--bor-5);
            }
        }

        .filter-cat {
            margin-top: 20px;

            label {
                display: block;
                margin-bottom: 20px;
                font-weight: var(--fw-700);
            }

            .categories {
                display: flex;
                gap: 20px;
                flex-wrap: wrap;

                span {
                    padding: 10px;

                    background: var(--color-dark);
                    color: var(--color-light);
                    border-radius: var(--bor-5);
                    cursor: pointer;

                    &.activeCat {
                        background: var(--color-green);
                    }
                }
            }
        }
    }

    &-button {
        width: 80%;
        margin: 20px auto;
        display: flex;
        justify-content: center;
    }

    // ---------- RESPONSIVE -------
    @include general.mobile {
        width: 100%;
    }
}