.sidebar {
  width: 250px;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;
  overflow-y: hidden;

  border-right: 1px solid var(--color-green);

  &-logo {
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: var(--fz-30);
    font-weight: var(--fw-900);
  }

  &-content {
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

    h5 {
      margin: 20px 0;

      display: flex;
      align-items: center;

      font-size: var(--fz-20);

      & > * {
        margin-right: 5px;
      }
    }

    &-lists {
      display: flex;
      flex-direction: column;

      font-size: var(--fz-16);

      a {
        padding: 20px;

        display: flex;
        align-items: center;

        & > * {
          margin-right: 5px;
        }

        &.activeClassName {
          background-color: var(--color-green);
          border-radius: var(--bor-5);
          color: var(--color-light);
        }
      }
    }
  }
}

// ---------- DARK THEME -------
.sidebar[data-theme="dark"] {
  border-right: 1px solid var(--color-light);
  background: var(--color-dark);

  color: var(--color-light);

  .sidebar-content {
    &-lists {
      a {
        &.activeClassName {
          background-color: var(--color-light);
          color: var(--color-dark);
        }
      }
    }
  }
}
// ---------- BLUE THEME -------
.sidebar[data-theme="blue"] {
  border-right: 1px solid var(--color-blue);
  background: var(--color-blue);
  .sidebar-content {
    &-lists {
      a {
        &.activeClassName {
          background-color: var(--color-light);
          color: var(--color-dark);
        }
      }
    }
  }
}
// ---------- PINK THEME -------
.sidebar[data-theme="pink"] {
  border-right: 1px solid var(--color-pink);
  background: url("../../../assets/images/lotus.jpg") no-repeat center center;
  background-size: cover;
  .sidebar-content {
    &-lists {
      a {
        &.activeClassName {
          background-color: var(--color-pink);
          color: var(--color-dark);
        }
      }
    }
  }
}
