//IMPORT GOOGLE FONT
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
:root {
  /* COLOR */
  --color-light: #fff;
  --color-dark: #111;
  --color-dark-trans: rgba(0, 0, 0, 0.3);
  --color-gray: rgb(147, 145, 145);
  --color-light-gray: rgb(218, 218, 218);
  --color-blue: #a7adb6;
  --color-green: #98a7a3;
  --color-dark-green: #6f7c79;
  --color-light-green: #d1d7d1;
  --color-pink: pink;
  --color-dark-pink: rgb(225, 166, 176);
  --color-beige: #ded6cd;
  --color-brown: #c2b4ae;
  /* FONT SIZE*/
  --fz-14: 14px;
  --fz-16: 16px;
  --fz-20: 20px;
  --fz-24: 24px;
  --fz-30: 30px;

  /* FONT WEIGHT */
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-700: 700;
  --fw-900: 900;
  /* BORDER */
  --bor-5: 5px;
  --bor-10: 10px;
  --bor-50: 50%;
  /* TRANSITION */
  --transition: 0.3s ease;
}
::-webkit-scrollbar-thumb {
  height: 50px;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}
textarea {
  font-family: "Roboto", sans-serif;
}
a {
  color: var(--color-dark);
  transition: var(--transition);
}
button {
  width: max-content;

  background: transparent;

  cursor: pointer;

  border: none;

  transition: var(--transition);
}
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-aic {
  display: flex;
  align-items: center;
}

@mixin btn-brown($pad, $bor, $borRa) {
  background: var(--color-brown);
  color: var(--color-white);

  padding: $pad;
  border: $bor;
  border-radius: $borRa;
  &:hover {
    background: var(--color-light);
    border: 2px solid var(--color-dark);
  }
}

@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 700px) {
    @content;
  }
}
