@use "../../../styles/GeneralStyle/GeneralStyle.scss" as general;
.product-detail {
  padding-top: 150px;
  min-height: 100vh;
  overflow: hidden;

  background: var(--color-beige);

  &-wrapper {
    width: 80%;
    margin: 0 auto;

    .product-detail-content {
      width: 100%;
      display: flex;
      margin: 40px 0;
      .product-detail-contentLeft {
        flex: 1;

        .pd-mainImage {
          width: 100%;
          img {
            width: 80%;
            height: 500px;
            object-fit: cover;
            display: block;
            margin: 0 auto;
          }
        }
      }

      .product-detail-contentRight {
        flex: 1;

        .pd-title {
          font-size: var(--fz-20);
          font-weight: var(--fw-700);
          border-bottom: 2px solid var(--color-dark);
          padding: 20px 0;
        }

        .pd-price {
          padding: 20px 0;
          font-size: var(--fz-16);
        }

        .pd-categories {
          padding: 20px 0;

          span {
            border: 2px solid var(--color-dark);
            border-radius: var(--bor-5);

            margin-right: 10px;
            margin-top: 10px;
            padding: 10px;

            display: inline-block;

            background: var(--color-light);
          }
        }

        .pd-quantity {
          padding: 30px 0;
          & > * {
            margin: 5px;
          }
          button {
            background: var(--color-dark);
            color: var(--color-light);
            border-radius: var(--bor-50);
            height: 40px;
            width: 40px;
          }

          input {
            border-radius: var(--bor-50);
            border: 2px solid var(--color-dark);
            height: 40px;
            width: 40px;
            max-width: 40px;
            padding: 5px;

            text-align: center;
            font-size: var(--fz-16);
            font-weight: var(--fw-500);
          }
        }

        .pd-total {
          padding: 30px 0;
          border-top: 2px solid var(--color-dark);

          p {
            margin: 20px 0;
            text-align: right;

            span {
              font-weight: var(--fw-700);
              font-size: var(--fz-20);
              border-bottom: 2px solid var(--color-dark);
            }
          }
        }

        .pd-addCart {
          display: flex;
          justify-content: center;
        }
      }
    }

    .product-detail-related {
      width: 100%;

      .related-title {
        text-align: center;
        margin: 50px 0 30px 0;
        font-size: var(--fz-20);
        font-weight: var(--fw-700);
      }
    }
  }

  // ------ RESPONSIVE ----------
  @include general.mobile {
    .product-detail-content {
      flex-direction: column;
      .product-detail-contentLeft {
        .pd-mainImage {
          img {
            height: 300px;
          }
        }
      }
    }
  }
}
