.table-pagination {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  &-item {
    display: flex;
    align-items: center;

    span {
      display: flex;
      align-items: center;
      justify-content: center;

      border: 1px solid var(--color-green);

      padding: 5px;
      width: 30px;
      height: 40px;

      cursor: pointer;

      &.activePage {
        background: var(--color-green);
        color: var(--color-light);
      }
    }
  }
}

// ----- DARK THEME------
.table-pagination[data-theme="dark"] {
  .table-pagination-item {
    span {
      border: 1px solid var(--color-light);

      &.activePage {
        background: var(--color-light);
        color: var(--color-dark);
      }
    }
  }
}
// ----- BLUE THEME------
.table-pagination[data-theme="blue"] {
  .table-pagination-item {
    span {
      border: 1px solid var(--color-blue);

      &.activePage {
        background: var(--color-blue);
      }
    }
  }
}
// ----- PINK THEME------
.table-pagination[data-theme="pink"] {
  .table-pagination-item {
    span {
      border: 1px solid var(--color-light-green);

      &.activePage {
        background: var(--color-light-green);
      }
    }
  }
}
