@use '../../styles/GeneralStyle//GeneralStyle.scss' as general;
.login {
  padding-top: 200px;
  padding-bottom: 20px;

  width: 100%;
  position: absolute;
  z-index: 5;

  &-wrapper {
    width: 60%;
    padding: 40px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    
    background: rgba($color: #343a43, $alpha: 0.8);
    color: var(--color-light);
    h3 {
      margin-bottom: 30px;
      text-align: center;
      font-size: var(--fz-20);
    }

    input {
      width: 60%;
      margin: 20px auto;
      padding: 10px;
      background: transparent;

      border: 2px solid var(--color-light);
      border-radius: var(--bor-10);

      color: var(--color-light);

      &::placeholder {
        color: var(--color-light);
      }

      &:focus {
        outline: 2px solid var(--color-light);
      }
    }

    button {
      display: block;
      margin: 20px auto;
      width: 40%;
      padding: 10px;

      border: 2px solid var(--color-light);
      border-radius: var(--bor-10);

      color: var(--color-light);
      font-weight: var(--fw-700);

      &:hover {
        background: var(--color-light);
        color: var(--color-dark);
      }
    }

    p {
      text-align: center;
      margin: 20px 0;
      a {
        color: rgb(202, 202, 99);

        &:hover {
          color: yellow;
        }
      }
    }
  }

  @include general.tablet {
    .login-wrapper {
      input {
        width: 80%;
      }
    }
  }

  @include general.mobile {
    .login-wrapper{
      width: 90%;

      input {
        width: 90%;
      }

      button {
        width: 60%;
      }
    }
  }
}
