@mixin blueTheme {

  /*------------ COMPONENT -------------*/
  //================TABLE===============
  .datatable {
    table {
      border: 1px solid var(--color-blue);

      th {
        border: 1px solid var(--color-blue);
        color: var(--color-dark);
        background: var(--color-blue);

        &:not(:last-child) {
          border-right: 1px solid var(--color-light);
        }
      }

      td {
        border: 1px solid var(--color-blue);

        &.datatable-button {
          .datatable-button-delete {
            background: var(--color-blue);
            color: var(--color-light);

            border: 1px solid var(--color-blue);

            &:hover {
              background: var(--color-green);
            }
          }
        }
      }
    }
  }


}
