@use '../../styles/GeneralStyle/GeneralStyle.scss' as general;
.card {
  width: 30%;
  padding: 20px;
  border-radius: var(--bor-5);
  border: 2px solid var(--color-dark);
  background: var(--color-brown);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;

  
  &-top {
    img {
      width: 200px;
      height: 200px;
      border-radius: var(--bor-50);
      border: 2px solid var(--color-dark);
      object-fit: cover;
    }

    .card-imageWrapper {
      position: relative;
      .card-icon {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        animation: spin 15s linear infinite;

        &::before {
          position: absolute;
          z-index: 10;
          content: "";
          display: block;
          width: 1.6rem;
          height: 1.6rem;
          background-image: url("../../assets/images/svg/star.svg");
          background-repeat: no-repeat;
          background-size: contain;
          left: -0.8rem;
          top: calc(50% - 0.8rem);
          animation: spin 15s linear infinite;
        }

        &::after {
          position: absolute;
          z-index: 10;
          content: "";
          display: block;
          width: 1.6rem;
          height: 1.6rem;
          background-image: url("../../assets/images/svg/star.svg");
          background-repeat: no-repeat;
          background-size: contain;
          right: -0.8rem;
          top: calc(50% - 0.8rem);
          animation: spin 15s linear infinite;
        }
        @keyframes spin {
            0%{
                transform: rotate(0);
            }
            100%{
                transform: rotate(360deg);
            }
        }
        
      }
    }
  }

  &-body {
    text-align: center;
    h3 {
      margin-bottom: 10px;
    }
  }


  // RESPONSIVE
  @include general.tablet {
    width: 45%;
  }

  @include general.mobile {
    width: 100%;
  }

}
