button {
  padding: 10px;
  border-radius: var(--bor-5);
  font-weight: var(--fw-700);
  margin: 0 10px;

  //CONFIRM BUTTON
  &.confirm {
    background: var(--color-green);

    color: var(--color-light);
  }
  //GREEN BUTTON
  &.green {
    background: var(--color-green);

    color: var(--color-light);

    &:hover {
      background: var(--color-dark-green);
    }
  }
  //DARK BUTTON
  &.dark {
    background: var(--color-dark);
    color: var(--color-light);
    padding: 20px 30px;
    border: 2px solid var(--color-dark);
    &:hover {
      background: var(--color-light);
      color: var(--color-dark);
    }
  }

  //LIGHT BUTTON
  &.light {
    background: var(--color-light);
    color: var(--color-dark);
    border: 2px solid var(--color-dark);
    padding: 10px 20px;

    &:hover {
      background: var(--color-dark);
      color: var(--color-light);
      border: 2px solid var(--color-light);
    }
  }
  //BEIGE BUTTON
  &.beige {
    background: var(--color-brown);
    font-weight: var(--fw-700);

    &:hover {
      background: var(--color-beige);
    }
  }
}
