.user-inputDetail {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &-item {
    display: flex;
    align-items: center;

    label {
      flex: 2;
      font-weight: var(--fw-700);
    }

    input {
      flex: 8;

      padding: 10px;
    }

    .user-image {
      flex: 8;
      position: relative;

      .user-image-layout {
        width: 100px;
        height: 100px;
        background: rgba($color: #000, $alpha: 0.5);

        position: absolute;
        top: 0;
        left: 0;

        opacity: 0;

        transition: var(--transition);

        color: var(--color-light);
        font-weight: var(--fw-700);

        &:hover {
          opacity: 1;
        }

        label {
          width: 100%;
          height: 100%;

          display: grid;
          place-items: center;

          cursor: pointer;
        }
      }

      img {
        width: 100px;
        height: 100px;
        object-fit: cover;
      }
    }
  }
}
