@use "../../styles/GeneralStyles/GeneralStyles.scss" as general;

button {
  &.light {
    @include general.btnLight(15px, 14px, 700, 5px);
  }
  // GREEN BUTTON
  &.green {
    padding: 10px;

    border-radius: var(--bor-5);
    background: var(--color-light-green);

    font-weight: var(--fw-700);

    &:hover {
      background: var(--color-green);
    }
  }
  // DARK-GREEN BUTTON
  &.dark-green {
    background: var(--color-green);
    color: var(--color-light);

    padding: 20px;
    font-weight: var(--fw-700);

    border-radius: var(--bor-5);
    border: 2px solid var(--color-green);

    &:hover {
      background: var(--color-light);
      color: var(--color-dark);
    }
  }


  //RED BUTTON
  &.red {
    padding: 10px;

    border-radius: var(--bor-5);
    background: var(--color-pink);

    font-weight: var(--fw-700);

    &:hover {
      background: var(--color-dark-pink);
    }
  }
}

// ------ DARK THEME -------
button[data-theme="dark"] {
  &.dark-green {
    background: var(--color-light);
    color: var(--color-dark);

    border: 2px solid var(--color-light);

    &:hover {
      background: var(--color-gray);
    }
  }
}

//----- BLUE THEME ------
button[data-theme="blue"] {
  &.dark-green {
    background: var(--color-blue);
    border: 2px solid var(--color-blue);
    &:hover {
      background: var(--color-green);
      color: var(--color-light);
    }
  }
}

//------ PINK THEME -------
button[data-theme="pink"] {
  &.dark-green {
    background: var(--color-pink);
    border: 2px solid var(--color-pink);
    &:hover {
      background: var(--color-dark-pink);
      color: var(--color-light);
    }
  }
}
