@use "../../../styles/GeneralStyles/GeneralStyles.scss" as general;
.productDetail {
  width: 100%;

  h3 {
    margin: 20px 0;
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &-item {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      &-left {
        flex: 2;

        label {
          font-weight: var(--fw-500);
        }
      }

      &-right {
        flex: 4;
        text-align: justify;
        img {
          width: 200px;
          height: 200px;
          object-fit: cover;
          border-radius: var(--bor-10);
          margin-right: 10px;
        }

        h4[data-product-title] {
          font-size: var(--fz-20);
        }

        p {
          display: inline-block;
          padding: 5px;
          border: 1px solid var(--color-dark);
          margin: 5px;
        }
      }
    }

    &-button {
      display: flex;
      justify-content: center;
    }
  }
}

//DARK THEME
.productDetail[data-theme="dark"] {
  .productDetail-content {
    &-item {
      &-right {
        p {
          border: 1px solid var(--color-light);
        }
      }
    }
  }
}
