@use "../../styles/GeneralStyle/GeneralStyle.scss" as general;
.home {
  width: 100%;

  &-header {
    background: url("../../assets/images/heading.jpg") no-repeat center center;
    width: 100%;
    background-size: cover;
    height: 100vh;
  }
  &-menu {
    width: 100%;
    background: var(--color-beige);
    padding: 20px 0;

    &-wrapper {
      width: 80%;
      margin: 0 auto;

      @include general.flex-center;

      flex-direction: column;

      .home-menu-card {
        width: 100%;
        
        margin-bottom: 20px;
      }
    }
  }
  &-gallery {
    width: 80%;
    margin: 20px auto;
  }
}
