.table-responsive {
  width: 100%;
  margin-top: 20px;
  table {
    width: 100%;
    table-layout: fixed;
    border: 1px solid var(--color-green);
    border-collapse: collapse;
    text-align: center;

    thead,
    th {
      border: 1px solid var(--color-green);

      background: var(--color-green);
      color: var(--color-light);

      height: 60px;

      &:not(:last-child) {
        border-right: 1px solid var(--color-light);
      }
    }

    tbody,
    td {
      border: 1px solid var(--color-green);
      height: 60px;

      position: relative;

      img {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: var(--bor-50);
        position: absolute;
        top: 50%;
        left: 20%;
        transform: translate(-50%, -50%);
      }

      button {
        margin: 5px;
      }
    }
  }
}

// ---------- DARK THEME -------
.table-responsive[data-theme="dark"] {
  table {
    border: 1px solid var(--color-light);

    thead,
    th {
      border: 1px solid var(--color-light);

      background: var(--color-light);
      color: var(--color-dark);

      &:not(:last-child) {
        border-right: 1px solid var(--color-dark);
      }
    }

    tbody,
    td {
      border: 1px solid var(--color-light);
    }
  }
}

// ---------- BLUE THEME -------
.table-responsive[data-theme="blue"] {
  table {
    border: 1px solid var(--color-blue);

    thead,
    th {
      border: 1px solid var(--color-blue);

      background: var(--color-blue);
      color: var(--color-dark);

      &:not(:last-child) {
        border-right: 1px solid var(--color-light);
      }
    }

    tbody,
    td {
      border: 1px solid var(--color-blue);
    }
  }
}

// ---------- PINK THEME -------
.table-responsive[data-theme="pink"] {
  table {
    border: 1px solid var(--color-light-green);

    thead,
    th {
      border: 1px solid var(--color-light-green);

      background: var(--color-light-green);
      color: var(--color-dark);

      &:not(:last-child) {
        border-right: 1px solid var(--color-light);
      }
    }

    tbody,
    td {
      border: 1px solid var(--color-light-green);
    }
  }
}
