.toast-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 99999;
  
  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 400px;
  padding: 10px 10px 10px 10px;

  color: var(--color-light);

  border-radius: var(--bor-5);

  animation: toast-right 0.7s ease-in-out;

  box-shadow: 0 0 10px #999;

  @keyframes toast-right {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  //SUCCESS TOAST 
  &.success {
    background: #5cb85c;
  }
  //DANGER TOAST
  &.danger {
    background: #d9534f;
  }
  //WARNING TOAST
  &.warn {
    background: #eeac50;
  }

  //INFO TOAST
  &.info {
    background: #5bc0de;
  }
  .toast-top {
    display: flex;
    justify-content: flex-end;

    p {
      cursor: pointer;
    }
  }

  .toast-bottom {
    display: flex;
    align-items: center;
    gap: 20px;

    .toast-imageIcon {
      width: 50px;
      height: 50px;

      border-radius: var(--bor-50);
      background: var(--color-light);
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--color-dark);

      span {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        & > * {
          width: 20px;
          height: 20px;
        }

        &.danger {
          color: #d9534f;
        }

        &.success {
            color: #5cb85c;
        }

        &.warn {
          color: #eeac50;
        }

        &.info{
          color: #5bc0de;
        }
      }
    }

    .toast-content {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .toast-title {
        font-weight: var(--fw-900);
      }
    }
  }
}
