.container{
    width: 100%;
   
    .content {
        margin-left: 250px;
        min-height: 100vh;
        overflow: hidden;
        color: var(--color-dark);

        .inner {
            width: 80%;
            margin: 20px auto;
        }
    }
}

.container[data-theme="dark"]{
    .content {
        background: var(--color-dark);
        color: var(--color-light);
    }
}
