@use "../../../../styles/GeneralStyle/GeneralStyle.scss" as general;
.gallery-image {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
  img {
    width: 30%;
    object-fit: cover;
    height: 300px;
    cursor: pointer;

    border-radius: var(--bor-10);
   
    @include general.tablet {
      width: 45%;
    }

    @include general.mobile {
      width: 100%;
    }
  }
}
