.inputDetail {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &-item {
    display: flex;
    align-items: center;
    gap: 20px;

    label {
      flex: 2;
      font-weight: var(--fw-500);
    }
    .product-image {
      flex: 4;
      position: relative;
      .image-overlay {
        background: rgba($color: #000000, $alpha: 0.5);
        width: 100px;
        height: 100px;

        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;
        top: 0;
        left: 0;

        opacity: 0;

        transition: var(--transition);

        &:hover {
          opacity: 1;
        }

        label.edit-productImg {
          display: block;
          width: 100%;
          height: 100px;
          border-radius: var(--bor-5);
          background: transparent;

          color: var(--color-light);
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
        }
      }
      img {
        width: 100px;
        height: 100px;
        object-fit: cover;
      }
    }
    input {
      flex: 4;
      padding: 10px;
    }

    textarea {
      flex: 4;
      padding: 10px;
      text-align: justify;
    }

    .productArrImage {
      flex: 4;
      display: flex;
      flex-direction: column;
      gap: 10px;
      .productArrImage-contain {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;

        .productArrImage-item {
          width: 100px;
          height: 100px;
          position: relative;

          .image-overlay {
            background: rgba($color: #000000, $alpha: 0.5);
            width: 100px;
            height: 100px;

            display: flex;
            align-items: center;
            justify-content: center;

            position: absolute;
            top: 0;
            left: 0;

            opacity: 0;

            transition: var(--transition);

            &:hover {
              opacity: 1;
            }

            button {
              background: transparent;
              padding: 5px 10px;

              border: 2px solid var(--color-light);
              border-radius: var(--bor-5);

              color: var(--color-light);
            }
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }

    .inputDetail-cat{
      flex: 4;

      div{
        margin: 10px 0;
      }
    }
  }
}
