.lg-modal {
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;

  overflow-y: auto;

  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;

  display: flex;
  align-items: center;
  justify-content: center;

  &-dialog {
    width: 60%;
    max-height: 90%;

    overflow-y: auto;
    margin: 0 auto;
    padding: 20px;

    background: var(--color-light);

    border-radius: var(--bor-10);

    color: var(--color-dark);

    .lg-modal-header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      border-bottom: 1px solid var(--color-gray);
      padding-bottom: 5px;

      span {
        font-size: var(--fz-30);
        cursor: pointer;
      }
    }

    .lg-modal-body {
      padding: 20px 0;
      border-bottom: 1px solid var(--color-gray);
    }

    .lg-modal-footer {
      padding: 20px 0;

      display: flex;
      justify-content: flex-end;
      align-items: center;

      & > * {
        margin-right: 20px;
      }
    }
  }
}
