@use "../../../styles/GeneralStyle/GeneralStyle.scss" as general;
footer {
  width: 100%;
  background: var(--color-beige);

  .f-wrapper {
    width: 80%;
    padding: 20px 0;
    margin: 0 auto;
    // -------------- BACK TO TOP BUTTON -------------
    .f-button {
      display: flex;
      justify-content: flex-end;

      button {
        @include general.btn-brown(
          20px,
          2px solid var(--color-light),
          var(--bor-5)
        );

        font-weight: var(--fw-700);
      }
    }

    // ------------- MAIN CONTENT -------------
    .f-content {
      display: flex;
      margin: 20px 0;

      /* main content left */
      &-left {
        flex: 2;

        display: flex;

        &-pages,
        &-categories {
          flex: 1;

          display: flex;
          flex-direction: column;

          h4 {
            margin-bottom: 10px;
            font-size: var(--fz-20);
          }

          a,
          span {
            padding: 10px 0;
            cursor: pointer;
            transition: var(--transition);

            &:hover {
              color: var(--color-gray);
            }
          }
        }
      }

      /* main content right */
      &-right {
        flex: 1;
        gap: 30px;

        @include general.flex-center;
        flex-direction: column;

        &-logo {
          text-align: center;
        }

        &-socials {
          border: 2px solid var(--color-dark);
          border-radius: var(--bor-5);

          padding: 15px;
          display: flex;
          flex-direction: column;
          align-items: center;

          background: var(--color-light);
          h5 {
            margin-bottom: 10px;
          }
          div {
            a {
              padding: 10px;
              font-size: var(--fz-20);
              transition: var(--transition);

              &:hover > *{
                transform: scale(1.5);
              }
            }
          }
        }
      }
    }
    //------------ COPYRIGHT --------------
    .f-copyright {
      text-align: center;
    }
  }

  @include general.mobile {
    .f-content {
      flex-direction: column-reverse;
      gap: 20px;
    }
  }
}
