@use "../../styles/GeneralStyle/GeneralStyle.scss" as general;
.orderInfo {
  padding-top: 150px;
  min-height: 100vh;
  overflow: hidden;

  background: var(--color-beige);
  &-wrapper {
    width: 80%;
    margin: 0 auto;
    .orderInfo-item {
      width: 100%;
      margin: 10px 0;
      padding: 20px;

      background: var(--color-light);
      border: 1px solid var(--color-dark);
      border-radius: var(--bor-5);

      display: flex;
      justify-content: space-between;
      align-items: center;

      text-align: center;

      .order {
        flex: 2;
        font-weight: var(--fw-900);
      }

      .order-id {
        flex: 5;

        h3 {
          margin-bottom: 20px;
        }
      }

      .order-status {
        flex: 4;

        h3 {
          margin-bottom: 20px;
        }

        p {
          background: var(--color-green);
          color: var(--color-light);
          width: max-content;
          margin: 0 auto;
          padding: 10px;
          border-radius: var(--bor-10);
        }
      }

      // ---- RESPONSIVE ------
      @include general.mobile {
        flex-direction: column;

        .order {
          border: 1px solid var(--color-dark);
          border-radius: var(--bor-50);
          width: 30px;
          height: 30px;
          margin-bottom: 20px;
        }

        .order-id {
          margin-bottom: 20px;
          h3 {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
