.lm-content {
  display: flex;
  flex-direction: column;

  &-item {
    display: flex;
    align-items: center;
    margin: 20px 0;
    gap: 30px;
    .lmci-left {
      flex: 1;

      label {
        font-weight: var(--fw-700);
      }
    }

    .lmci-right {
      flex: 5;

      img {
        width: 100px;
        height: 100px;
        object-fit: cover;
      }

      input{
        width: 60%;
        padding: 10px;

        border: 2px solid var(--color-dark);
        border-radius: var(--bor-5);

        &:focus {
            outline: 2px solid var(--color-dark);
        }
      }
    }
  }

  &-buttons {
    display: flex;
    justify-content: center;

    button {
        background: var(--color-dark);

        border-radius: var(--bor-5);
        border: 2px solid var(--color-dark);

        color: var(--color-light);

        &:hover {
            background: var(--color-light);
            color: var(--color-dark);
        }
    }
  }
}
