@use '../../styles/GeneralStyle/GeneralStyle.scss' as general;
.pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 20px 0;
  &-item {
    display: flex;
    align-items: center;
    span {
      border: 1px solid var(--color-dark);
      width: 40px;
      height: 40px;
      padding: 5px;

      display: flex;
      align-items: center;
      justify-content: center;

      cursor: pointer;

      &.activePage {
          background: var(--color-dark);
          color: var(--color-light);
      }
    }
  }

  // ------ RESPONSIVE ------
  @include general.mobile {
    justify-content: center;
  }
}
