@use "../../../styles/GeneralStyle/GeneralStyle.scss" as general;
.header {
  padding: 20px;
  height: 100px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: rgba($color: #343a43, $alpha: 0.8);

  position: absolute;
  z-index: 6;

  &-logo {
    flex: 1;
    color: var(--color-light);
    font-weight: var(--fw-900);
    font-size: var(--fz-30);
  }
  &-menu {
    display: none;
    flex: 1;
  }
  &-nav {
    flex: 1;
    display: flex;
    justify-content: center;
    .head-nav-close {
      display: none;
    }
    a {
      color: var(--color-light);
      padding: 10px;
      margin: 10px;
    }
  }

  &-buttons {
    flex: 1;
    display: flex;
    justify-content: center;

    a {
      color: var(--color-light);
      border: 1px solid var(--color-light);
      border-radius: var(--bor-10);
      padding: 10px 20px;
      margin: 10px;

      &.activeLink {
        color: var(--color-dark);
        border: 1px solid var(--color-dark);
        background: var(--color-light);
      }
    }
  }


  // ----------- RESPONSIVE ------------
  @include general.tablet {
    .header-logo {
      font-size: var(--fz-24);
    }
    .header-menu {
      display: block;
      cursor: pointer;

      p {
        color: var(--color-light);
        background: rgba($color: #000, $alpha: 0.5);

        width: max-content;
        margin: 0 auto;
        padding: 10px 20px;

        border-radius: var(--bor-10);
        border: 2px solid var(--color-light);

        transition: var(--transition);

        &:hover {
          background: rgba($color: #000, $alpha: 1);
        }
      }
    }

    .header-nav {
      display: none;
      &.open {
        display: block;

        width: 100vw;
        height: 100vh;

        position: fixed;
        top: 0;
        left: 0;
        overflow: hidden;
        background: rgba($color: #343a43, $alpha: 0.8);

        .headerNav-wrapper {
          width: 80%;
          margin: 0 auto;

          position: absolute;
          top: 50%;
          left: 50%;
          z-index: 99999;

          transform: translate(-50%, -50%);

          display: flex;
          flex-direction: column;
          align-items: center;

          background: var(--color-light);

          border-radius: var(--bor-10);

          .head-nav-close {
            display: block;
            cursor: pointer;
            align-self: end;

            padding: 10px;
          }

          a {
            color: var(--color-dark);

            &:hover {
              background: #000;
              border-radius: var(--bor-10);
              color: var(--color-light);
            }
          }
        }
      }
    }

    .header-buttons {
      a {
        padding: 10px;
      }
    }
  }

  @include general.mobile {
    .header-logo {
      font-size: var(--fz-20);
      flex: 2;
    }

    .header-menu {
      flex: 1;
      p {
        padding: 5px;
      }
    }
    .header-buttons {
     flex-direction: column;
     align-items: center;
    }
  }
}
