@use "../../../styles/GeneralStyles/GeneralStyles.scss" as general;
.newProduct {
  width: 100%;
  h3 {
    margin: 20px 0;
  }
  //NEW PRODUCT CONTENT
  &-content {
    display: flex;
    flex-direction: column;

    width: 60%;
    margin: 0 auto;
    //CONTENT ITEM
    &-item {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin: 10px 0;
      width: 100%;
      &-left {
        flex: 2;
        //THUMBNAIL IMAGE
        img[data-thumbnail-img] {
          width: 90%;
          height: 250px;
          object-fit: cover;
        }

        label {
          font-weight: var(--fw-500);
        }
      }

      &-right {
        flex: 4;
        display: flex;
        flex-direction: column;

        div {
          display: flex;
          align-items: center;

          input[type="checkbox"] {
            margin: 10px 10px 10px 0;
            transform: scale(1.3);
          }
        }
        input[type="text"] {
          width: 100%;
          padding: 10px;
        }

        textarea {
          width: 100%;
          padding: 10px;
        }
      }

      //GALLERY IMAGE
      img[data-gallery-img] {
        width: 30%;
        height: 200px;
        object-fit: cover;
        margin: 10px;
      }

      //ADD NEW PRODUCT BUTTON
      button {
        display: block;
        margin: 0 auto;
      }
    }
  }
}
