.page-title {
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 20px;
    
    h2{
        position: absolute;
        z-index: 1;
    }

    img {
        position: absolute;
        width: 100px;
        
    }
}