@use "../../styles/GeneralStyle//GeneralStyle.scss" as general;
.contact {
  padding-top: 150px;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;

  background: var(--color-beige);

  &-wrapper {
    width: 80%;
    margin: 0 auto;
    //CONTACT CONTENT
    .contact-content {
      width: 60%;
      margin: 0 auto;
      //TABLET DEVICE
      @include general.tablet {
        width: 100%;
      }

      &-item {
        display: flex;
        flex-direction: column;

        label {
          margin: 20px 0 10px 0;
          font-weight: var(--fw-700);

          span {
            color: red;
          }
        }

        input,
        textarea {
          width: 100%;
          padding: 20px 10px;
          border-radius: var(--bor-5);
          border: 1px solid var(--color-dark);
        }
      }

      // SEND BUTTON
      &-button {
        margin: 30px 0;
        display: flex;
        justify-content: center;

        button {
          width: 50%;
          padding: 15px 10px;

          background: var(--color-dark);
          color: var(--color-light);
          font-weight: var(--fw-700);

          border-radius: var(--bor-5);
          border: 2px solid var(--color-dark);

          &:hover {
            background: var(--color-light);
            color: var(--color-dark);
          }
        }
      }

      &-success {
        width: 50%;
        margin: 20px auto;
        padding: 20px;
        border: 2px solid var(--color-dark);
        background: var(--color-light);
        border-radius: var(--bor-5);
        //MOBILE DEVICE
        @include general.mobile {
          width: 100%;
        }
        p {
          color: var(--color-dark);
          text-align: center;
          font-weight: var(--fw-900);
          @include general.flex-center;

          & > * {
            margin: 5px;
          }
        }
      }
    }
  }
}
