@use "../../styles/GeneralStyle/GeneralStyle.scss" as general;
.cart {
  width: 100%;
  padding-top: 150px;

  background: var(--color-beige);
  min-height: 100vh;
  overflow: hidden;

  &-wrapper {
    width: 80%;
    margin: 0 auto;

    //EMPTY CART
    .empty-cart {
      width: 60%;
      margin: 0 auto;
      padding: 40px 20px;
      text-align: center;

      border: 2px solid var(--color-dark);
      border-radius: var(--bor-10);

      background: var(--color-light);
      font-size: var(--fz-20);

      a {
        margin: 50px auto 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        width: 50%;

        border-radius: var(--bor-10);
        background: var(--color-dark);
        color: var(--color-light);
        border: 2px solid var(--color-dark);
        span {
          margin-left: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          animation: move-right 1.5s infinite;
        }
        @keyframes move-right {
          0% {
            transform: translateX(0);
          }
          30% {
            transform: translateX(10px);
          }
        }
        &:hover {
          background: var(--color-light);
          color: var(--color-dark);
        }
      }
    }
    //CART WHEN HAVE PRODUCTS
    .cart-content {
      width: 100%;
      display: flex;

      .cart-products {
        flex: 2;
        width: 100%;
        background: var(--color-light);
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .cart-items {
          display: flex;
          align-items: center;
          text-align: center;
          border-bottom: 1px solid #000;
          padding: 20px 0;
          .cart-image {
            flex: 1;
            img {
              width: 100px;
              height: 100px;
              object-fit: cover;
              border-radius: var(--bor-50);
              border: 2px solid var(--color-dark);
            }
          }

          .cart-title {
            flex: 2;
            p {
              margin: 20px 0;
            }

            p:first-child {
              font-size: var(--fz-16);
              font-weight: var(--fw-700);
            }
          }

          .cart-quantity {
            flex: 2;
            display: flex;
            align-items: center;
            justify-content: center;
            button {
              width: 30px;
              height: 30px;

              background: var(--color-dark);
              color: var(--color-light);
              font-weight: var(--fw-700);

              display: flex;
              align-items: center;
              justify-content: center;
            }
          }

          .cart-price {
            flex: 1;
          }
          .cart-delete {
            flex: 1;
            p {
              cursor: pointer;
              transition: var(--transition);
              font-size: var(--fz-20);

              &:hover {
                color: red;
              }
            }
          }
        }
      }

      .cart-total {
        flex: 1;
        &-wrapper {
          width: 80%;
          margin: 0 auto;
          padding: 20px;
          background: var(--color-dark);

          color: var(--color-light);

          .total-title {
            text-align: center;
            padding: 10px 0;
            border-bottom: 2px solid var(--color-light);
          }

          .total-content {
            margin: 20px 0;

            .tc-item {
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin: 10px 0;
            }
          }

          .total-user {
            margin: 20px 0;

            .tu-item {
              display: flex;
              flex-direction: column;
              margin: 10px 0;

              label {
                margin-bottom: 10px;
              }

              input {
                padding: 5px;
              }
            }
          }

          .total-button {
            display: flex;
            justify-content: center;
            button {
              background: var(--color-light);
              padding: 10px;
              border-radius: var(--bor-10);
              &:hover {
                background: var(--color-gray);
              }
            }
          }
        }
      }
    }

    // -------- RESPONSIVE --------
    @include general.tablet {
      .empty-cart {
        width: 80%;
      }

      .cart-content {
        flex-direction: column-reverse;
        gap: 20px;
      }
    }

    @include general.mobile {
      .empty-cart {
        width: 100%;
        a {
          width: 100%;
        }
      }

      .cart-content {
        .cart-total {
          &-wrapper {
            width: 100%;
          }
        }

        .cart-products {
          .cart-items {
            flex-direction: column;

            .cart-image {
              order: 2;
            }

            .cart-title {
              order: 3;
            }

            .cart-quantity {
              order: 4;
            }

            .cart-price {
              order: 5;
              margin-top: 10px;
            }
            .cart-delete {
              order: 1;
              align-self: end;
            }
          }
        }
      }
    }
  }
}
