@use "../DarkTheme/DarkTheme.scss" as dark;
@use "../PinkTheme/PinkTheme.scss" as pink;
@use "../BlueTheme/BlueTheme.scss" as blue;
/* IMPORT GOOGLE FONT */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
:root {
  /* COLOR */
  --color-light: #fff;
  --color-dark: #111;
  --color-gray: rgb(147, 145, 145);
  --color-light-gray: rgb(218, 218, 218);
  --color-blue: #a7adb6;
  --color-green: #98a7a3;
  --color-light-green: #d1d7d1;
  --color-pink: pink;
  --color-dark-pink: rgb(225, 166, 176);
  /* FONT SIZE*/
  --fz-14: 14px;
  --fz-16: 16px;
  --fz-20: 20px;
  --fz-30: 30px;

  /* FONT WEIGHT */
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-700: 700;
  --fw-900: 900;
  /* BORDER */
  --bor-5: 5px;
  --bor-10: 10px;
  --bor-50: 50%;
  /* TRANSITION */
  --transition: 0.5s ease;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  color: var(--color-dark);
  cursor: pointer;
  transition: var(--transition);
}
a:hover {
  color: var(--color-gray);
}
button {
  width: max-content;
  cursor: pointer;
  transition: var(--transition);
  border: none;
}

h3[data-page-title] {
  font-size: var(--fz-30);
  text-align: center;
  margin: 20px 0;
}

textarea {
  font-family: "Roboto", sans-serif;
}
@mixin btnLight($padding, $fontSize, $fontWeight, $borRa) {
  background: var(--color-light);
  color: var(--color-dark);

  padding: $padding;
  font-size: $fontSize;
  font-weight: $fontWeight;

  border-radius: $borRa;
  border: 2px solid var(--color-dark);
  
  &:hover {
    background: var(--color-dark);
    color: var(--color-light);
  }
}

[data-theme="dark"] {
  @include dark.darkTheme;
}

[data-theme="pink"] {
  @include pink.pinkTheme;
}

[data-theme="blue"] {
  @include blue.blueTheme;
}
