.section-title {
  width: 100%;
  text-align: center;
  //ICON
  &-icon {
    font-size: var(--fz-20);
  }
  //TITLE AND SUBTITLE

  h4 {
    font-size: var(--fz-30);
    font-weight: var(--fw-900);
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 10px;
  }
}
