@use "../../../styles/GeneralStyle/GeneralStyle.scss" as general;
.changePageImg {
  width: 80%;
  margin: 0 auto;
  position: relative;
  height: 200px;
  @include general.mobile {
    height: 150px;
  }
  img {
    width: 100%;
    height: inherit;
    object-fit: cover;

    border-radius: var(--bor-5);
  }
  p,
  a {
    font-size: var(--fz-30);
    font-weight: var(--fw-900);
    color: var(--color-light);

    @include general.mobile {
      font-size: var(--fz-20);
    }
  }
  p:nth-of-type(1) {
    width: max-content;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: rgba($color: #000000, $alpha: 0.5);
    padding: 20px;
  }
  a {
    position: absolute;
    right: 10%;
    bottom: 10%;
    z-index: 2;
    cursor: pointer;
    transition: var(--transition);

    &:hover {
      transform: translateX(10px);
    }
  }
}
