.newUser {
  width: 100%;

  h3 {
    margin: 20px 0;
  }

  &-content {
    display: flex;
    flex-direction: column;

    width: 60%;
    margin: 0 auto;

    &-item {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin: 10px 0;
      width: 100%;

      &-left {
        flex: 2;

        img {
          width: 90%;
          height: 250px;
          object-fit: cover;
        }

        label {
          font-weight: var(--fw-500);
        }
      }

      &-right {
        flex: 4;

        input[type="text"] {
          width: 100%;
          padding: 10px;
        }
      }

      button{
        display: block;
        margin: 0 auto;
      }
    }
  }
}
